*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
@font-face {
font-family: MyriadPro-Regular;
src: url('../fonts/MyriadPro-Regular.otf ');
}


body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

/*/////////////HEADER////////////////////////*/
header{
  background: url("../img/header.jpg");
  background-size: cover;
  background-position:center;
  width: 100%;
}

header::before{
  content: ' ';
  display: block;
  width: 100%;
  height: 10px;
  background: #d4213d;
}
.header-container{
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 10px;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-splash{
  flex-basis: 420px;
}

.header-splash > h1{
  margin: 45px 0;
  font-family: 'Gochi Hand', cursive;
  font-size: 3.75em;
  font-weight: normal;
}
.header-splash > h1::after{
  content: '.';
  color: #d4213d;

}
.header-splash > p{
  font-size: 1.5em;
  font-family: MyriadPro-Regular;
}
.header-social{
  min-width: 230px;
  margin: 26px 0;

}
.header-icons{
  display: inline-block;
  cursor: url(../img/pointer.png), pointer;
  width: 2em;
  height: 2em;
  margin-right: 15px;
  font-size: 1.563em;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  line-height: 2em;
  text-align: center;
  color: rgba(255,255,255,0.5);
  transition: all 0.3s ease;
  }
.header-icons:hover{
  color: #f4f4f4;
  background: #d4213d;
}
/*/////////////FEATURES////////////////////////*/
.features{
  max-width: 1200px;
  min-height: 335px;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.feature-container{
  flex-basis: 330px;
  margin: 15px 5px;
  text-align: center;
  color: #848484;
}
.feature-container:hover{
  cursor: url(../img/pointer.png), pointer;
  color: #000;
}
.feature-container > i{
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 2.688em;
  background: #d4213d;
  border-radius: 50%;
  line-height: 2em;
  text-align: center;
  color:#fff;
  transition: 0.3s all ease;
  }
  .feature-container:hover > i{
  -webkit-transform: scale(1.2); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: scale(1.2); /* IE 9 */
  transform: scale(1.2); /* IE 10, Fx 16+, Op 12.1+ */

  }
.feature-container > h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.375em;
  margin: 30px 0;
  color: #000;
  font-weight: normal;
}
/*/////////////NOTICIATION////////////////////////*/
.notification{
  width:100%;
  background: #e3e3e3;
}
.notification-container{
  max-width: 1200px;
  min-height: 427px;
  margin: 0 auto;
  padding: 60px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content:space-around;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.notification-container > div {
   flex-basis: 560px;
}
.notification-form{
    padding: 20px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #848484;
}

.notification-form > form{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.notification-form > input{
  font-family: MyriadPro-Regular;
}
.notification-form input[type="email"]{
  width: 100%;
  max-width: 304px;
  height: 56px;
  padding-left: 20px;
  background: rgba(255,255,255,0.8);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #c8c8c8;
  border-right: none;
  display: block;
  font-size: 1.125em;
  font-weight: normal;
  transition: all 0.3s ease;
}
.notification-form input[type="email"]:focus{
  background: #fff;
  outline: none;
}
.notification-form button{
  cursor: url(../img/pointer.png), pointer;
  width: 141px;
  height: 56px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #d4213d;
  font-size: 1.375em;
  font-weight: normal;
  color: #fff;
  transition: all 0.3s ease;
}
.notification-form button:hover{
  background: #fc2547;
  color: #fff;
}
.notification-form > h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  color: #000;
}
.notification-form > p{
  margin: 29px 0;
}
.notf_video > img{
  width: 100%;
  height: 100%;
}
/*/////////////STAY IN TOUCH////////////////////////*/
.stay-in-touch{
  width: 100%;
}
.stay-in-touch-container{
  max-width: 1200px;
  min-height: 466px;
  margin: 0 auto;
  padding: 60px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content:space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.stay-in-touch-container blockquote{
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.125em;
  text-align: center;
  font-weight: 100;
  color: #848484;
}
.stay-in-touch-container > h3, .stay-in-touch-container > h2{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #2e2e2e;
}
.stay-in-touch-container > h3{
  font-size: 1.125em;
  margin: 30px 0;
}
.stay-in-touch-container > h2{
  margin-top: 60px;
  font-size: 1.5em;
}
.stay-in-touch-social{
  margin-top: 27px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.stay-in-touch-social > i{
  cursor: url(../img/pointer.png), pointer;
  width: 1.6em;
  height: 1.6em;
  margin-right: 10px;
  font-size: 1.5em;
  background: #d4d4d4;
  border-radius: 50%;
  line-height: 1.6em;
  text-align: center;
  color: #fff;
}
.stay-in-touch-social > i:hover{
  background: #df596e;
}
.stay-in-touch-users{
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.stay-in-touch-users > div{
  width: 50px;
  height: 50px;
  margin: 0 2.5px;
  display: inline-block;
  font-size: 0;
  background: #d4213d;
  background: url("../img/people.png");
  overflow: hidden;
}
.user-mask{
  width: 100%;
  height: 100%;
  margin-top: 55px;
  transition: 0.5s all ease;
  background: rgba(212,33,61,0);
}
.stay-in-touch-users > div:hover .user-mask{
  margin: 0;
  background: rgba(212,33,61,0.7);

}
.stay-in-touch-users > div:hover{
  cursor: url(../img/pointer.png), pointer;
}
#person_02{
  background-position: -55px 0;
}
#person_03{
  background-position: -110px 0;
}
#person_04{
  background-position: -165px 0;
}
#person_05{
  background-position: -220px 0;
}
#person_06{
  background-position: -275px 0;
}
#person_07{
  background-position: -330px 0;
}
#person_08{
  background-position: -385px 0;
}
#person_09{
  background-position: -440px 0;
}
#person_10{
  background-position: -495px 0;
}
#person_11{
  background-position: -550px 0;
}
#person_12{
  background-position: -605px 0;
}
#person_13{
  background-position: -660px 0;
}
#person_14{
  background-position: -715px 0;
}
#person_15{
  background-position: -770px 0;
}
#person_16{
  background-position: -825px 0;
}
#person_17{
  background-position: -880px 0;
}
#person_18{
  background-position: -935px 0;
}
#person_19{
  background-position: -990px 0;
}
#person_20{
  background-position: -1045px 0;
}
#person_21{
  background-position: -1100px 0;
}


/*/////////////FOOTER////////////////////////*/
footer{
  width: 100%;
  background: #e3e3e3;
}
.footer-container{
  max-width: 1200px;
  margin: 0 auto;

}
.footer-container > ul{
  min-height: 130px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content:space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container li{
  list-style-type: none;
}
.footer-container  a{
  padding: 5px;
  text-decoration: none;
  color: #848484;
  border-radius: 5px;
  transition: 0.5s all ease;
}
.footer-container a:hover{
  cursor: url(../img/pointer.png), pointer;
  color: #fff;
  background: #d4213d;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.09);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.09);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.09);
}

/*////////////////RWD//////////////////////////*/
@media (max-width: 600px) {
  body{
    font-size: 14px;
  }
  header{
    background-position:left;
  }
  .header-container{
    padding: 10px;
    justify-content: center;
  }
  .header-container > div{
    text-align: center;
  }
}
